body, html {
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 1.6em;
}

p {
  margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .hero-body p {
    font-size: 0.6em;
    margin-bottom: 0px;
  }

  .hero .img {
    margin-left: 50px;
    margin-right: 50px;
  }

  a.nav-item.is-logo {
    margin-left: 20px;
  }

  .hero div.hero-body {
    padding-top: 0px;
  }

}


.button.early-access:hover {
  color: #B33930;
  background-color: white;
  border: 1px solid #B33930;

}

.button.early-access {
  background-color: #B33930;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 0.8em;
}

.header-image {
  background-size: cover;
  background-position-y: 50%;
  background-blend-mode: exclusion;
}

.hero.is-primary {
  background-color: #3069b3;
  height: calc( 85vh - 53px);
}

.title.is-2 {
  font-size: 60px;
}

.hero-cta {
  padding: 30px 0;
}

/* Make panels height even when in a row */
.about .panel, .about .panel-block { height: 100%; }

.panel-block.section p {
  line-height: 1.4;
  color: #95A5A6;
  font-weight: 300;
}

.section.main {
  background-color: #F0F0F0;
}

.icon-block {
  font-size: 5em;
}

h4.panel-header {
  font-weight: 700;
  color: #4a4a4a;
  font-size: 1.5em;
  line-height: 1.3em;
  padding-bottom: 35px;
}

.about .panel-block {
  min-height: 350px;
}

.features-list ul { padding-left: 30px; margin-bottom: 30px; }
.features-list li {
    list-style-type: disc;
    margin-bottom: 5px;
    line-height: 1.6em;
}


.features .panel-block {
  min-height: 350px;
  position: relative;
}

.pad-15-vh {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section-alt {
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.open-source h2.is-header {
  font-size: 2em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
  padding-bottom: 25px;
}

.features h2.is-header {
  font-size: 2.5em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
  padding-bottom: 35px;
}

.pricing { background: #3069b3; }

.pricing h2.is-header {
  font-size: 2.5em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 25px;
}

.pricing .panel {
  box-shadow: none;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 30px 20px 10px 20px;
  margin: 15px 0;
  border-radius: 0px;
  background: #3069b3;
}

.panel-heading.plan-price {
  background-color: transparent;
  border: none;
  font-size: 3em;
  padding-bottom: 0;
}

.pricing .plan-usd {
    border: none;
    font-size: 0.8em;
    margin-top: 0;
}

.panel-heading.plan-price small {
  font-size: .4em;
}

.panel-block.plan-name {
  font-weight: bold;
  color: #646464;
  font-size: 1.2em;
}

.pricing .plan-details {
  padding-top: 50px;
}

.pricing .panel-block {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pricing .button.is-primary {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pricing .no-free {color: white; text-align: center;}
.pricing .no-free a {color: white; text-decoration: underline; }

footer.panel-footer {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.nav {
  background-color: #3069b3;
  color: white;
  border-bottom: 1px solid white;
}

.panel-block.section p {
  color: #4a4a4a;
}

.pricing .panel {
  background: white;
}

.button.is-primary {
  background: white;
  color: #3069b3;
  border: 1px solid #3069b3;
}

.button.is-primary.is-outlined {
  background-color: white;
  color: #3069b3;
  border: 1px solid #3069b3;
}

.button.is-info.is-outlined:focus, .button.is-info.is-outlined:hover {
    background-color: #e6e6e6;
    border-color: #e0e0e0;
    color: #4583c9;
}

.button.is-primary.is-active, .button.is-primary:focus, .button.is-primary:hover {
  background-color: #3069b3;
  border-color: transparent;
  color: #fff;
}

.hero-cta {
  background-color: white;
}

.nav-item a, a.nav-item {
  color: rgba(255, 255, 255, 0.85);
}

.nav-item a, a.nav-item:hover {
  color: white;
}

.hero .img {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.hero .hero-body {
  font-size: 1.4em;
  line-height: 1.6em;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.is-logo {
  font-size: 26px;
  font-weight: 400;
}

.is-bold {
  font-weight: bold;
}

.button.is-primary.is-outlined:focus, .button.is-primary.is-outlined:hover {
  border: 1px solid white;
  background: #3069b3;
}

a {
  color: #3069b3;
}

.content a:not(.button):visited {
  color: #3069b3;
}

.footer {
  padding: 40px 20px 40px;
}

.footer a:not(.icon):hover, .footer a:visited:not(.icon):hover {
  border-bottom-color: #3069b3;
}

.hero .columns { height: 100%; }

.panel {
  border-radius: 0px;
}
