{{define "console-footer"}}
</div> <!-- close column is-10 -->
</div> <!-- close columns -->
</div> <!-- close section -->
<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				&copy; Bradley Falzon 2016 - <a href="https://github.com/bradleyfalzon/gopherci">GitHub</a>.
			</p>
		</div>
	</div>
</footer>
</body>
</html>
{{end}}
