{{ template "console-header" . }}

<h1 class="title is-1">Billing</h1>

<h2 class="title is-3">Subscriptions</h2>

{{ if not .Subscriptions }}
    <p class="notification">Choose a plan to view current and previous subscriptions.</p>
{{ else }}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Start</th>
                <th>Cancelled</th>
            </tr>
        </thead>
        <tbody>
        {{ range .Subscriptions }}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .AmountDisplay }} per {{ .Interval }}</td>
                <td>{{ .StartedAt }}</td>
                <td>
                    {{ if .Ended }}
                        {{ .CancelledAt }}
                    {{ else }}
                        <form method="POST" action="/console/billing/cancel">
                            <input type="hidden" name="subscriptionID" value="{{ .ID }}">
                            <button class="button is-danger" type="submit">Cancel</button>
                        </form>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
{{ end }}

<h2 class="title is-3">Coupons</h2>

{{ if not .IsStripeCustomer }}
    <p class="notification">Create a subscription to apply a coupon.</p>
{{ else }}
    {{ if .Discount }}
        <table class="table">
            <thead>
                <tr>
                    <th>Coupon</th>
                    <th>Start</th>
                    <th>Ends</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ .Discount.Description }}</td>
                    <td>{{ .Discount.StartedAt }}</td>
                    <td>{{ .Discount.EndedAt }}</td>
                </tr>
            </tbody>
        </table>
    {{ else  }}
        <form method="POST" action="/console/billing/coupon">
			<div class="field has-addons">
				<p class="control">
					<input class="input" type="text" name="couponID" placeholder="Coupon Code">
				</p>
				<p class="control">
					<button class="button is-info" type="submit">Add</button>
				</p>
			</div>
        </form>
    {{ end  }}
{{ end }}

<h2 class="title is-3">Upcoming Invoice</h2>

{{ if not .UpcomingInvoice }}
    <p class="notification">No upcoming invoices.</p>
{{ else }}
	{{ with .UpcomingInvoice }}
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ .DueDate }}</td>
					<td>{{ .AmountDisplay }}</td>
				</tr>
			</tbody>
		</table>
	{{ end }}
{{ end }}


<h2 class="title is-3">Choose Plan <img src="https://stripe.com/img/about/logos/badge/solid-dark.svg" class="is-pulled-right"></h2>

{{ if .HasSubscription }}
    <p class="notification">Cancel a subscription to chose a new plan.</p>
{{ else }}
    <table class="table">
        <thead>
            <tr><th></th><th>Personal</th><th>Professional</th><th>Significant Contributor</th></tr>
        </head>
        <tbody>
            <tr>
                <th>Price</th>
                <td>$USD 3.99/Month</td>
                <td>$USD 7.99/Month</td>
                <td>$USD 29.99/Month</td>
            </tr>
            <tr>
                <th>Organisations</th>
                <td>None</td>
                <td>5</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <th>Builds per day</th>
                <td>10</td>
                <td>50</td>
                <td>200</td>
            </tr>
            <tr>
                <th>Trial</th>
                <td>30 days</td>
                <td>30 days</td>
                <td>30 days</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <form class="event-stripe" action="/console/billing/process/PersonalMonthlyUSD" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-amount="399"
                            data-description="Personal Monthly"
                            data-name="gopherci.io"
                            data-key="{{ .StripePublishKey }}"
                            data-allow-remember-me="false"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-panel-label="Subscribe"
                            data-label="Subscribe"
                            data-email="{{ .Email }}"
                            data-currency="usd">
                        </script>
                    </form>
                </td>
                <td>
                    <form class="event-stripe" action="/console/billing/process/ProfessionalMonthlyUSD" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-amount="799"
                            data-description="Professional Monthly"
                            data-name="gopherci.io"
                            data-key="{{ .StripePublishKey }}"
                            data-allow-remember-me="false"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-panel-label="Subscribe"
                            data-label="Subscribe"
                            data-email="{{ .Email }}"
                            data-currency="usd">
                        </script>
                    </form>
                </td>
                <td>
                    <form class="event-stripe" action="/console/billing/process/SignificantMonthlyUSD" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-amount="2999"
                            data-description="Significant Contributor Monthly"
                            data-name="gopherci.io"
                            data-key="{{ .StripePublishKey }}"
                            data-allow-remember-me="false"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-panel-label="Subscribe"
                            data-label="Subscribe"
                            data-email="{{ .Email }}"
                            data-currency="usd">
                        </script>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
{{ end }}

<script>
var els = document.getElementsByClassName("stripe-button-el");
for (var i = 0; i < els.length; i++) {
    els[i].addEventListener("click", function() {
        ga('send', {
            hitType: 'event',
            eventCategory: 'onboarding',
            eventAction: 'click-stripe-subscribe',
        });
    });
}
</script>

{{ template "console-footer" . }}
