{{ template "console-header" . }}

<h1 class="title is-1">GopherCI Console</h1>

{{ if not .HasSubscription }}
    <div class="notification is-warning">You do not currently have an active subscription, when you're ready, head over to <a href="/console/payments">Billing</a> to get started.</div>
{{ end }}

<h2 class="title is-3">GitHub Integrations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Installs }}
        <tr>
            <td>{{ .Type }}</td>
            <td>{{ .Name }}</td>
            <td>
                <form method="POST" action="/console/install-state">
                    <input type="hidden" name="installationID" value="{{ .InstallationID }}">
                {{ if eq .State "Disabled" }}
                    <input type="hidden" name="state" value="enable">
                    <button type="submit" value="enable">Enable</button>
                {{ else if eq .State "Enabled" }}
                    {{ if .CanDisable }}
                        <input type="hidden" name="state" value="disable">
                        <button type="submit" value="disable">Disable</button>
                    {{ else }}
                        <span title="Only the person who enable this can disable">Enabled</span>
                    {{ end }}
                {{ else }}
                    <a href="https://github.com/integrations/gopherci">Install Integration</a>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ template "console-footer" . }}
