{{ template "header" . }}
<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-logo" href="/">Gopher &nbsp;<span class="is-bold">CI</span></a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a href="#more" class="nav-item">
        Learn More
      </a>
      <a href="#pricing" class="nav-item">
        Pricing
      </a>
      <a href="#features" class="nav-item">
        Features
      </a>
      <span class="nav-item">
        <a class="button is-info is-outlined is-inverted is-gh" href="/console/">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
          <span>Login</span>
        </a>
      </span>
    </div>
  </div>
</header>
<section class="hero is-primary is-large">
  <div class="container">
    <div class="columns">
      <div class="column">
          <div class="img">
            <img src="/static/gopherci-comments.png">
          </div>
      </div>
      <div class="column">
          <div class="hero-body">
              <div class="container has-text-centered">
                <h1 class="title is-2">Gopher CI</h1>
                <h2 class="subtitle is-5">Continuous Quality Control</h2>
                <p>GopherCI runs a suite of automated testing tools so you don't have to.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<div class="hero-cta">
  <nav class="level">
    <div class="level-item has-text-centered">
      <a class="button is-primary is-large" href="/console/"><span class="icon"><i class="fa fa-github"></i></span><span>Start using with GitHub</span></a>
    </div>
  </nav>
</div>
<a id="more"></a>
<div class="section main pad-15-vh about">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-handshake-o icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">API Compatibility Checking</h4>
            <p><a href="https://github.com/bradleyfalzon/gopher">APICompat</a> is a tool to check for backwards incompatible changes.</p>
            <p>When enabled, APICompat checks will highlight API breaking changes before a change is merged.</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-cloud icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Your server or ours?</h4>
            <p>If you choose, you can run your own instance of GopherCI, as we recognise hosted solutions aren't always the right solution.</p>
            <p>With longer term planned support for GitLab, this will help organisations run GopherCI behind their firewalls.</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-github icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">GitHub Integrations</h4>
            <p>Using the GitHub Integrations API, you have fine-grained control over which repositories GopherCI can view.</p>
            <p>GopherCI comments inline when detecting issues in new PRs ensuring your contributors maintain the same quality you do.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-alt open-source">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2 class="is-header">Open Source</h2>
        <p>
          GopherCI source code is available on GitHub and licenced under <a href="https://github.com/bradleyfalzon/gopherci/blob/master/LICENSE">Affero GPL</a>.
        </p>
        <br>
        <br>
        <a class="button is-info is-outlined is-half" href="https://github.com/bradleyfalzon/gopherci"><span class="icon"><i class="fa fa-github"></i></span><span>Check it out!</span></a>
      </div>
    </div>
  </div>
</div>
<a id="pricing"></a>
<div class="section main pad-15-vh pricing">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2 class="is-header">Plans and Pricing</h2>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column is-4">
        <nav class="panel">
          <p class="panel-heading plan-price">
            <small>$</small> 4 <small>p/m</small>
          </p>
          <div class="panel-block plan-name">
            Starving Hacker
          </div>
          <div class="panel-block plan-details">
            Unlimited Public Repos
          </div>
          <div class="panel-block">
            10 Private Repos
          </div>
          <div class="panel-block">
            360 minutes
          </div>
          <div class="panel-block">
            <button class="button is-primary is-outlined is-large">
            Sign up
            </button>
          </div>
        </nav>
      </div>
      <div class="column is-4">
        <nav class="panel">
          <p class="panel-heading plan-price">
          <small>$</small> 9 <small>p/m</small></p>
          <div class="panel-block plan-name">
            Professional
          </div>
          <div class="panel-block plan-details">
            Unlimited Public Repos
          </div>
          <div class="panel-block">
            10 Private Repos
          </div>
          <div class="panel-block">
            1,400 minutes
          </div>
          <div class="panel-block">
            <button class="button is-primary is-outlined is-large">
            Sign up
            </button>
          </div>
        </nav>
      </div>
      <div class="column is-4">
        <nav class="panel">
          <p class="panel-heading plan-price">
            <small>$</small> 49 <small>p/m</small>
          </p>
          <div class="panel-block plan-name">
            Significant Contributor
          </div>
          <div class="panel-block plan-details">
            Unlimited Public Repos
          </div>
          <div class="panel-block">
            10 Private Repos
          </div>
          <div class="panel-block">
            10,080 minutes
          </div>
          <div class="panel-block">
            <button class="button is-primary is-outlined is-large">
            Sign up
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="section section-alt open-source">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2 class="is-header">Something about attribution</h2>
        <p>
          Nunc non nulla non nunc dapibus volutpat. Vivamus facilisis hendrerit arcu non facilisis. Nunc dignissim imperdiet ultrices. Sed blandit, leo in convallis tristique, risus sem gravida metus, posuere efficitur sem magna id nibh. Sed faucibus lectus ac mauris maximus, ut scelerisque eros porta.
        </p>
      </div>
    </div>
  </div>
</div>
<a id="features"></a>
<div class="section main pad-15-vh features">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2 class="is-header">Features</h2>
      </div>
    </div>
    <div class="columns is-multiline ">
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-code icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Go Vet</h4>
            <p>Detect potential bugs such as copying locks, formatting directives in Println and more with Go Vet.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button  is-outlined is-half" href="https://golang.org/cmd/vet/">
                Read more
              </a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa  fa-exclamation-triangle icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Golint</h4>
            <p>Golint suggests stylistic issues such as missing documentation for exported items and consistent naming such as ID instead of Id.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/golang/lint">
                Read more
              </a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-check-circle icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Staticcheck</h4>
            <p>Staticcheck provides advanced static analysis of common but critical bugs with near zero false positives.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button  is-outlined is-half" href="https://github.com/dominikh/go-staticcheck">
                Read more
              </a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-tasks icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Gosimple</h4>
            <p>Gosimple helps you simplify your code by suggesting simpler alternatives.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/dominikh/go-simple">
                Read more
              </a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-bug icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Run Tests</h4>
            <p>Ensure all your tests run, with the race detector without any per project configuration.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/dominikh/go-simple">
                Read more
              </a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-wrench icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Gofmt</h4>
            <p>This check is to simply ensure the contribution has been ran through the gofmt utility.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/dominikh/go-simple">
                Read more
              </a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
