{{ template "header" . }}

<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-logo" href="/">Gopher<span class="is-bold">CI</span></a>
      <span class="nav-item"><a href="#earlyaccess" class="button is-danger early-access">Early Access</a></span>
    </div>
    <div class="nav-right nav-menu">
      <a href="#more" class="nav-item">Learn More</a>
      <a href="#pricing" class="nav-item">Pricing</a>
      <a href="#features" class="nav-item">Features</a>
      <span class="nav-item">
        <a class="button is-primary is-outlined is-inverted is-gh" href="/console/">
          <span class="icon"><i class="fa fa-github"></i></span><span>Log in</span>
        </a>
      </span>
    </div>
  </div>
</header>
<section class="hero is-primary">
  <div class="columns">
    <div class="column img">
      <img src="/static/gopherci-comments.png">
    </div>
    <div class="column">
        <div class="hero-body">
            <div class="container has-text-centered">
              <h1 class="title is-2">GopherCI</h1>
              <h2 class="subtitle is-5">Continuous Quality Control</h2>
              <p>GopherCI helps you maintain high-quality Go projects, by checking each GitHub Pull Request, for backward incompatible changes, and a suite of other tests.</p>
              <p>&nbsp;</p>
              <p>We're an open source project with affordable hosted plans, all with unlimited public or private repos.</p>
            </div>
        </div>
    </div>
  </div>
</section>
<div class="hero-cta">
  <nav class="level">
    <div class="level-item has-text-centered">
      <a class="button is-primary is-large" href="/console/"><span class="icon"><i class="fa fa-github"></i></span><span>Start using with GitHub</span></a>
    </div>
  </nav>
</div>
<a id="more"></a>
<div class="section main pad-15-vh about">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-handshake-o icon-block" aria-hidden="true"></i></p>
            <h4 class="panel-header is-fullwidth has-text-centered">API Compatibility Checking</h4>
            <p><a href="https://github.com/bradleyfalzon/gopher">apicompat</a> is a tool to check for backwards incompatible changes.</p>
            <p>When enabled, apicompat will highlight breaking changes, so they're visible before a change is merged.</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-cloud icon-block" aria-hidden="true"></i></p>
            <h4 class="panel-header is-fullwidth has-text-centered">Your server or ours?</h4>
            <p>If you choose, you can run your own instance of GopherCI, as we recognise hosted solutions aren't always the right solution.</p>
            <p>With longer term planned support for GitLab, this will help organisations run GopherCI behind their firewalls.</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-github icon-block" aria-hidden="true"></i></p>
            <h4 class="panel-header is-fullwidth has-text-centered">GitHub Integrations</h4>
            <p>Using the GitHub Integrations API, you have fine-grained control over which repositories GopherCI can view, something oauth didn't provide.</p>
            <p>GopherCI comments inline when detecting issues in new PRs ensuring your contributors maintain the same quality you do.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-alt open-source">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <h2 class="is-header">Open Source</h2>
        <p>GopherCI source code is available on GitHub and licenced under <a href="https://github.com/bradleyfalzon/gopherci/blob/master/LICENSE">BSD 2-Clause</a>.</p>
        <br>
        <br>
        <a class="button is-primary is-outlined is-half" href="https://github.com/bradleyfalzon/gopherci"><span class="icon"><i class="fa fa-github"></i></span><span>Check it out!</span></a>
      </div>
    </div>
  </div>
</div>
<a id="pricing"></a>
<div class="section pad-15-vh pricing">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2 class="is-header">Plans and Pricing</h2>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column is-4">
        <nav class="panel">
          <div class="panel-heading plan-price">
            <small>$AUD</small> 4.99<small>/month</small>
          </div>
          <div class="panel-block plan-usd">Approximately $4.00 USD</div>
          <div class="panel-block plan-name">Personal</div>
          <div class="panel-block plan-details"><b>Unlimited</b> Public Repos</div>
          <div class="panel-block"><b>Unlimited</b> Private Repos</div>
          <div class="panel-block">No Organisations</div>
          <div class="panel-block">20 requests per day</div>
          <div class="panel-block">30 day free trial</div>
        </nav>
      </div>
      <div class="column is-4">
        <nav class="panel">
          <div class="panel-heading plan-price">
            <small>$AUD</small> 9.99<small>/month</small>
          </div>
          <div class="panel-block plan-usd">Approximately $8.00 USD</div>
          <div class="panel-block plan-name">Professional</div>
          <div class="panel-block plan-details"><b>Unlimited</b> Public Repos</div>
          <div class="panel-block"><b>Unlimited</b> Private Repos</div>
          <div class="panel-block">5 Organisations</div>
          <div class="panel-block">200 requests per day</div>
          <div class="panel-block">30 day free trial</div>
        </nav>
      </div>
      <div class="column is-4">
        <nav class="panel">
          <div class="panel-heading plan-price">
            <small>$AUD</small> 34.99<small>/month</small>
          </div>
          <div class="panel-block plan-usd">Approximately $27.00 USD</div>
          <div class="panel-block plan-name">Significant Contributor</div>
          <div class="panel-block plan-details"><b>Unlimited</b> Public Repos</div>
          <div class="panel-block"><b>Unlimited</b> Private Repos</div>
          <div class="panel-block"><b>Unlimited</b> Organisations</div>
          <div class="panel-block">2,000 requests per day</div>
          <div class="panel-block">30 day free trial</div>
        </nav>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <a class="button is-primary is-large is-outlined is-gh" href="/console/">
            <span class="icon"><i class="fa fa-github"></i></span><span>Log in to Get Started</span>
        </a>
      </div>
    </div>
<style>
.pricing .no-free {color: white; text-align: center;}
.pricing .no-free a {color: white; text-decoration: underline; }
</style>
    <p class="no-free">There is no free hosted plan, as you are able to <a href="https://github.com/bradleyfalzon/gopherci">run your own instance</a>, although please consider the lowest plan to help fund development.</p>
  </div>
</div>
<a id="earlyaccess"></a>
<div class="section section-alt open-source">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="is-header has-text-centered">Early Access Period</h2>
        <div class="content">
            <ul>
                <li>GopherCI is in very early development and should be used with care.</li>
                <li>Plan restrictions are not currently in force.</li>
                <li>GopherCI currently has limited support for fetching dependencies, see <a href="https://github.com/bradleyfalzon/gopherci/issues/12">#12</a>.</li>
                <li>Private repos are currently unsupported, see <a href="https://github.com/bradleyfalzon/gopherci/issues/22">#22</a>.</li>
                <li>Only Pull Requests are currently supported, see <a href="https://github.com/bradleyfalzon/gopherci/issues/27">#27</a>.</li>
                <li>See issues pages for <a href="https://github.com/bradleyfalzon/gopherci/issues">GopherCI</a> and <a href="https://github.com/bradleyfalzon/gopherci-web/issues">GopherCI-web</a> for a more complete list.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="features"></a>
<div class="section main pad-15-vh features">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-text-centered">
        <h2 class="is-header">Features</h2>
      </div>
    </div>
    <div class="columns">
      <div class="column">
          <div class="panel features-list">
            <div class="panel-block section">
              <p>Supported</p>
              <ul>
                <li>Uses the comprehensive suite of open source static analysis tools for Go.</li>
                <li>Automatically check new repositories as they're added without requiring per repository configuration.</li>
                <li>Affordable hosted plans, supported and managed so you don't need to.</li>
                <li>Completely open source, GopherCI itself as well as GopherCI-web so you can improve and inspect how we manage security, payments, and contribute improvements.</li>
              </ul>
              <p>Planned</p>
              <ul>
                <li>Configure whether GopherCI comments and/or marks the build as failed<a href="https://github.com/bradleyfalzon/gopherci/issues/3">#3</a>.</li>
                <li>Configuration of tools per repository, without (or optionally) requiring per repository dot files, see <a href="https://github.com/bradleyfalzon/gopherci/issues/8">#8</a>.</li>
                <li>Private repositories, see <a href="https://github.com/bradleyfalzon/gopherci/issues/22">#22</a>.</li>
                <li>Check for the minimum required version of Go, see <a href="https://github.com/bradleyfalzon/gopherci/issues/11">#11</a>.</li>
                <li>Automatic instrumentation of tests to check for goroutine leak using <a href="https://github.com/fortytw2/leaktest">github.com/fortytw2/leaktest</a>, see <a href="https://github.com/bradleyfalzon/gopherci/issues/23">#23</a>.</li>
                <li>...and more, see <a href="https://github.com/bradleyfalzon/gopherci/issues">issues</a>.</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <div class="columns is-multiline ">
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-code icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Go Vet</h4>
            <p>Detect potential bugs such as copying locks, formatting directives in Println and more with Go Vet.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button  is-outlined is-half" href="https://golang.org/cmd/vet/">Read more</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa  fa-exclamation-triangle icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Golint</h4>
            <p>Golint suggests stylistic issues such as missing documentation and consistent naming.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/golang/lint">Read more</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-check-circle icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Staticcheck</h4>
            <p>Staticcheck provides advanced static analysis of common but critical bugs with little false positives.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/dominikh/go-staticcheck">Read more</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-tasks icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Gosimple</h4>
            <p>Gosimple helps you simplify your code by suggesting simpler alternatives.</p>
            <footer class="has-text-centered panel-footer">
              <a class="button is-outlined is-half" href="https://github.com/dominikh/go-simple">Read more</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-bug icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Run Tests</h4>
            <p>Ensure all your tests run, with the race detector without any per project configuration.</p>
            <footer class="has-text-centered panel-footer"></footer>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <p class="has-text-centered"><i class="fa fa-wrench icon-block" aria-hidden="true"></i></p>
            <br>
            <h4 class="panel-header is-fullwidth has-text-centered">Gofmt</h4>
            <p>This check is to simply ensure the contribution has been ran through the gofmt utility.</p>
            <footer class="has-text-centered panel-footer"></footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
